@model MyPortfolio_MVC.Models.TblEducation
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Eğitim Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.EducationId)
    <label>Okul Adı</label>
    @Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control" })
    <br />
    <label>Bölüm Adı</label>
    @Html.TextBoxFor(x => x.Deprartment, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Başlama Tarihi</label>
    <input type="datetime" name="StartDate" value="@Model.StartDate.ToString("d")" class="form-control" />
    <br />
    <label>Bitiş Tarihi <span><strong>(Eğer Devam Ediyorsa Boş Bırakın)</strong></span></label>
    <input type="datetime" name="EndDate" value="@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("d") : "")" class="form-control" />
    <br />
    <label>Derece <span><strong>(Lisans, Önlisans vs.)</strong></span></label>
    <select name="Degree" class="form-control">
        <option disabled>Seçiminizi Yapın</option>
        <option value="Önlisans" @(Model.Degree=="Önlisans"? "selected":"")>Önlisans</option>
        <option value="Lisans" @(Model.Degree=="Lisans"? "selected":"")>Lisans</option>
        <option value="Yüksek Lisans" @(Model.Degree=="Yüksek Lisans"? "selected":"")>Yüksek Lisans</option>
    </select>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
    <br />
</form>
