@model List<MyPortfolio_MVC.Models.TblAbout> 
<section id="about" class="s-about target-section">

    @foreach (var about in Model)
    {
        <div class="row about-info wide" data-animate-block>

            <div class="column lg-6 md-12 about-info__pic-block">
                <img src="@about.ImageUrl"
                     srcset="@about.ImageUrl 1x, @about.ImageUrl 2x" alt="" class="about-info__pic" data-animate-el>
            </div>

            <div class="column lg-6 md-12">
                <div class="about-info__text">

                    <h2 class="text-pretitle with-line" data-animate-el>
                        @about.Title
                    </h2>
                    <p class="attention-getter" data-animate-el>
                        @about.Description
                    </p>
                    <a href="@about.CvUrl" class="btn btn--medium u-fullwidth" data-animate-el>CV'mi indir</a>

                </div>
            </div>
        </div>
    }

    <!-- about-info -->

    @Html.Action("DefaultExpertise")
    <!-- end about-expertise -->


    <div class="row about-timelines" data-animate-block>

        <!-- end column -->
        @Html.Action("DefaultExperience")
        @Html.Action("DefaultEducation")
        <!-- end column -->


    </div> <!-- end about-timelines -->

</section>
